@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 300px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}